<div class="logo">  
  <span class="menu hand" 
        deco-toggle 
        element="nav,.main-content" 
        toggle-class="active,show-nav">
    <i class="fa fa-bars"></i>
    MENU
  </span>    
  
  <span class="right-menu hide-desktop hand"         
        deco-toggle                
        element=".head-link-container,.main-content,nav" 
        toggle-class="active,show-links,hidenav">
    LINKIT
    <i class="fa fa-external-link"></i>    
  </span>    
  

  <img src="[[logoImage]]" class="logoimage hide-small hide-medium">

  <div class="container">        

    [[logoTitle]]    

    <div class="subtitle">
      [[logoSubTitle]]
    </div>

  </div>
</div>