// color scenarios

// top
@mixin color-top-level-navigation {
  background-color: white !important;    
  color: black !important;    
}

@mixin color-top-level-navigation-active {
  background-color: $navigation-active-background-color !important;    
  color: $navigation-active-color !important;    
}

@mixin color-top-level-navigation-hover {
  background-color: $navigation-hover-background-color !important;
  color: $navigation-hover-color !important;       
}

// sub
@mixin color-sub-level-navigation {
  background-color: $navigation-sub-background-color !important;
  color: $navigation-sub-color !important;
}

@mixin color-sub-level-navigation-active {
  background-color: $navigation-active-sub-background-color !important;
  color: $navigation-active-sub-color !important;
}

@mixin color-sub-level-navigation-hover {
  background-color: $navigation-hover-sub-background-color !important;
  color: $navigation-hover-sub-color !important;       
}

//
@mixin color-link {
  color: $link-color;
}

@mixin color-title {
  color: $main-title-color;   
}

@mixin color-sub-title {
  color: $sub-title-color;
}

// element with border and clickable content
@mixin color-and-border {  
  @include color-top-level-navigation;
  padding: 2px 5px 2px 5px;
  border: 1px solid $main-title-color;
  border-radius: 4px;  
}

@mixin color-and-border-active {  
  @include color-top-level-navigation-active;
  padding: 2px 5px 2px 5px;
  border: 1px solid $navigation-active-background-color;
  box-shadow: 0px 0px 4px 1px $navigation-active-background-color;  
  border-radius: 4px;  
}

@mixin color-and-border-hover {
  @include color-top-level-navigation-hover;
  box-shadow: 0px 0px 4px 1px $navigation-active-background-color;
  border-color: $navigation-active-background-color;
  cursor: pointer;
}

@mixin color-and-border-ws-large {
  margin: 7px 7px 7px 7px;       
}

// related to decorations 
@mixin decor {
  width: 20px;
}

@mixin decor-left {
  margin-right: 10px;
  @include decor;  
}

@mixin decor-right {
  @include decor;
  text-align: right;
  margin-right: 10px;
}

// link related

@mixin pointer {
  cursor: pointer;
}

@mixin link {
  text-decoration: underline;
  @include pointer;
}

// spacing
@mixin spacing-title {
  margin-top: 5px;
  margin-bottom: 10px;  
  padding: 0px;
}

@mixin mobile-remove-margin {
  margin-left: -10px;
  margin-right: -10px;
}

@mixin handheld-nav-container {
  display: block;          
  padding-left: 10px;              
  padding-top: 10px;
  padding-bottom: 10px;   
  margin: 0px;      
  position: relative;
}

@mixin handheld-nav-link {
  position: relative;
  padding: 0px;
  margin: 0px;       
  vertical-align: left;       
}

@mixin handheld-nav-action {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 10px;              
  padding-right: 10px;
  padding-top: 14px;  
}

// text
@mixin header-1 {
  @include color-title;
  font-weight: bold;
  font-size: 200%;
}