<nav class="navigation" id="navigation" deco-nav>   
  <div class="nav-container">    
    <div class="hide-large nav-logo nav-brand" 
         deco-toggle                   
         element="nav,.main-content"
         toggle-class="active,show-nav">
      [[logoTitle]]
    </div>   

    <div class="mainlinks">
      <div class="mainlinks-container">
        <deco-nav-links links="links" doesFit="doesFit" type="main"></deco-nav-links>
        <!--
        <div class="mainlink-container" ng-repeat="link in links" 
             ng-show="link.Node.showInIndex && doesFit(this)"
             ng-class="{active: isActive(link.Node.path)}">
          <div class="mainlink" 
               ng-click="goto(link.Node.path)"           
               deco-toggle                   
               element="nav,.main-content"
               toggle-class="active,show-nav">
            <i class="fa decor" ng-class="link.Node.icon"></i>{{link.Node.title}}            
            <i class="action fa fa-chevron-right" ng-hide="showAny(link.Contents)"></i>
            <i class="action fa fa-plus" 
               ng-show="showAny(link.Contents) && !(isActive(link.Node.path) || areSublinksOpened($index))"
               ng-click="toggleSubLinksIn($event)"           
               ></i>
            <i class="action fa fa-chevron-down" 
               ng-show="showAny(link.Contents) && (isActive(link.Node.path) || areSublinksOpened($index))"
               ng-click="toggleSubLinksIn($event)"></i>
          </div>
          <div class="sublinks" ng-class="{selected: isActive(link.Node.path)}">
            <div class="sublink-container" ng-repeat="sublink in link.Contents" 
                 ng-show="sublink.Node.showInIndex"
                 ng-class="{active: isActive(link.Node.path + sublink.Node.path)}">       
              <div class="sublink"
                   ng-click="goto(link.Node.path + sublink.Node.path)"
                   deco-toggle
                   element="nav,.main-content"
                   toggle-class="active,show-nav">
                <i class="fa decor" ng-class="sublink.Node.icon"></i>{{sublink.Node.title}}            
              </div>
              <i class="action fa fa-chevron-right"></i>
            </div>      
          </div>
        </div>       
        -->
      </div>     

      <div class="showmore-container" ng-show="anyHidden">
        <div class="showmorelink">
          <i class="fa fa-plus-square-o" ng-click="showHidden()"></i>    
        </div>
        <div class="mainlinks-extended">        
          <deco-nav-links links="links" doesFit="doesFit" type="extended"></deco-nav-links>
          <!--
          <div class="mainlink-extended-container" ng-repeat="link in links" 
               ng-show="link.Node.showInIndex && !doesFit(this)"
               ng-class="{active: isActive(link.Node.path)}">

            <div class="sublinks">
              <div class="sublink-container" ng-repeat="sublink in link.Contents" 
                   ng-show="sublink.Node.showInIndex"
                   ng-class="{active: isActive(link.Node.path + sublink.Node.path)}">       
                <div class="sublink"
                     ng-click="goto(link.Node.path + sublink.Node.path)"
                     deco-toggle
                     element="nav,.main-content"
                     toggle-class="active,show-nav">
                  <i class="fa decor" ng-class="sublink.Node.icon"></i>{{sublink.Node.title}}                
                </div>
              </div>      
            </div>

            <div class="mainlink-extended"
                 ng-click="goto(link.Node.path)"
                 deco-toggle
                 element="nav,.main-content"
                 toggle-class="active,show-nav">
              <i class="fa decor" ng-class="link.Node.icon"></i>{{link.Node.title}}
              <i class="action fa fa-chevron-right"></i>    
            </div>
          -->
        </div>
      </div>            


      <div class="login-container"          
           ng-show="root.ishttps && root.loginfun && !root.isLoggedIn">      
        <div class="login"
             deco-toggle
             element=".login-layer"
             toggle-class="active">
          <i class="fa decor fa-sign-in"></i>Sign in
        </div>            
        <div class="login-layer">
          Käyttäjätunnus<br>
          <input type="text" ng-model="userName">
          <br>
          Salasana<br>
          <input type="password" ng-model="password">
          <br>          
          <br>
          <button 
            ng-click="root.loginfun(userName, password)"
            class="btn btn-primary column">Kirjaudu sisään</button>                                
          <br>
          <br>
          <button 
            deco-toggle
            element=".login-layer"
            toggle-class="active"
            class="btn btn-danger column">Peruuta</button>
        </div>
      </div>

      <div class="login-container" ng-show="root.ishttps && root.isLoggedIn">         
        <div class="login logged-in">
          <i class="fa decor fa-user"></i>{{root.displayName}}        
        </div>
        <div class="login-menu">             
          <div class="mainlink-container">
            <div class="mainlink"
                 ng-click="root.logoutfun()"
                 deco-toggle
                 element="nav,.main-content"
                 toggle-class="active,show-nav">
              <i class="fa fa-sign-out decor"></i>Sign out            
              <i class="action fa fa-chevron-right"></i>
            </div>                                                                     
          </div>        

          <deco-nav-links links="adminLinks" doesFit="doesFit" type="admin"></deco-nav-links>
          <!--
          <div class="mainlink-container" ng-repeat="link in adminLinks" 
               ng-show="link.Node.showInIndex"
               ng-class="{active: isActive(link.Node.path)}">
            <div class="mainlink" 
                 ng-click="goto('/admin' + link.Node.path)"           
                 deco-toggle                   
                 element="nav,.main-content"
                 toggle-class="active,show-nav">
              <i class="fa decor" ng-class="link.Node.icon"></i>{{link.Node.title}}            
              <i class="action fa fa-chevron-right" ng-hide="showAny(link.Contents)"></i>
              <i class="action fa fa-plus" 
                 ng-show="showAny(link.Contents) && !(isActive(link.Node.path) || areSublinksOpened($index))"
                 ng-click="toggleSubLinksIn($event)"           
                 ></i>
              <i class="action fa fa-chevron-down" 
                 ng-show="showAny(link.Contents) && (isActive(link.Node.path) || areSublinksOpened($index))"
                 ng-click="toggleSubLinksIn($event)"></i>
            </div>
            <div class="sublinks" ng-class="{selected: isActive(link.Node.path)}">
              <div class="sublink-container" ng-repeat="sublink in link.Contents" 
                   ng-show="sublink.Node.showInIndex"
                   ng-class="{active: isActive(link.Node.path + sublink.Node.path)}">       
                <div class="sublink"
                     ng-click="goto('/admin' + link.Node.path + sublink.Node.path)"
                     deco-toggle
                     element="nav,.main-content"
                     toggle-class="active,show-nav">
                  <i class="fa decor" ng-class="sublink.Node.icon"></i>{{sublink.Node.title}}            
                </div>
                <i class="action fa fa-chevron-right"></i>
              </div>      
            </div>
          -->

        </div>
      </div>    


    </div>  
    <div class="hide-large nav-logo">
      <img src="[[logoImage]]">
    </div>
  </div>
</nav>

