.overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba(255,255,255,0.9);
  z-index: 1000;
  overflow: auto;
}

.overlay {
  .container {
    position: relative;
    max-width: 1000px;
    display: table;
    margin: auto;
    height: 100%;    
    overflow: scroll;
  }
}