.today, .tomorrow, .next {  
  color: $main-title-color;  
}

.today {
  font-size: 130%;
  font-weight: bold;
}

.tomorrow {
  font-size: 120%;
  font-weight: bold;
}

.next {
  font-size: 110%;
  font-weight: bold;
}

.past {
  text-decoration: line-through;
}