// Get shades from: http://www.color-hex.com/color

// Other variables to be used often
$hand-writing: 'Patrick Hand SC', cursive;
$main-color: rgb(195,153,107);
$main-color-light: rgb(219,193,166);
$main-color-dark: rgb(97,76,53);
$light-color: rgb(204,204,204);
$very-light-color: rgb(240,240,240);
$link-color: rgb(0,122,255);
$main-title-color: rgb(246,146,30);
$sub-title-color: $main-color-dark;

// general
$shadow-color: $main-color;

// Main
$font-family: 'Asap', 'Verdana', 'Helvetica';
$hand-writing: $font-family;

// Navigation
$navigation-font-family: $hand-writing;
$navigation-background-color: rgb(255,255,255);
$navigation-color: black;

$navigation-active-background-color: $main-color;
$navigation-active-color: white;

$navigation-hover-background-color: $main-color-light;
$navigation-hover-color: black;
$navigation-border: 1px solid $main-color;

$navigation-sub-background-color: rgb(246,146,30);
$navigation-sub-color: black;

$navigation-hover-sub-background-color: $main-color-light;
$navigation-hover-sub-color: black;

$navigation-active-sub-background-color: rgb(147,87,18);
$navigation-active-sub-color: white;


// Logo
$logo-font-family: $hand-writing;
$logo-background-color: white;
$logo-background-color-small: $very-light-color;
$logo-color: $main-color;
$logo-color-small: $main-title-color;
$logo-color-sub: $main-color-dark;
$logo-menu-color: $sub-title-color;
$logo-border-color-small: $light-color;

// Footer
$footer-background-color: $main-color-light;
$footer-color: $main-color-dark;
$footer-shadow-color: $main-color;