@media screen and (min-width: 1025px) {

  body {
    padding-bottom: 20px;
  }
  
  .hide-large, .hide-desktop {    
    display: none;       
  }

  .logo {        
    margin-bottom: 20px;    
    font-size: 80px;          
    z-index: -1;    
    height: 400px;
    padding-top: 50px;    
    @include color-title;
  }

  .logo {
    .logoimage {
      top: 80px;
      position: absolute;
      height: 300px;
      left: 50px;
    }
    .container {
      position: relative;            
      margin-left: 480px;      
      margin-top: 80px;
    }
    .container {
      .subtitle {        
        @include color-sub-title;
        font-size: 40%;              
        white-space: nowrap;
        top: 100px;
        margin-left: -70px;
        text-align: left;
        line-height: 70%;
      }
    }
    .menu {
      display: none;
    }
  } 
  
  .app-container {
    position: relative;
    max-width: 100%;
    margin: 0px 50px 50px 50px;
  }
  
  .app-content {
    max-width: 1000px;    
    //margin-right: 20px;
    z-index: 5;        
    position: relative;
  }

  .main-content, nav {
    top: 0px;
    position: relative;
    transition: .2s ease-in-out;    
  }    

  .main-content.show-links, nav.show-links {
    top: 500px;
    transition: .2s ease-in-out;
    position: fixed;    
  }

  .top-hide {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;    
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;      
    opacity: 0;
    transition: opacity .2s ease-in-out;    
  }

  .top-hide.show {    
    display: block;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }    

  .head-link-container {
    .links-title {
      @include color-title;
      font-weight: bold;
      font-size: 200%;
    }
    .link-category-container {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dotted $main-color-light;
    }
    .link-category-container:last-child {
      border-bottom: none;
    }    
    .link-category-title, .link-container {
      display: inline-block;
    }
    .link-category-title {
      @include color-sub-title;
      font-size: 120%;
      font-weight: bold;      
    }
    .link-category-title .decor {
      @include decor;
      @include decor-left;
    }

    .link-container {
      @include color-and-border;
      @include color-and-border-ws-large;
    }

    .link-container:hover {
      @include color-and-border-hover;
      @include link;
    }
  }

  // lists
  .deco-list {
    .list-item-container {
      display: block;
    }
    .list-item {
      @include color-and-border;      
      @include color-and-border-ws-large;      
      display: inline-block;
      margin-left: 0px;
    }
    .list-item:hover {
      @include color-and-border-hover;
      @include link;
    }
    .text-additional {
      margin-left: 20px;
    }
    .list-item {
      .decor {
        @include decor-left;
      }
    }
    .action {
      display: none;
    }      
  }


}