@media screen and (max-width: 960px) {

  .hide-small, .hide-mobile {    
    display: none;       
  }
  
  body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }  

  .page-title {
    text-align: center;    
  }
  
  .main-content {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 5px 1px rgb(200,200,200);
    z-index: 100;    
    transition: all .4s ease-in-out;   
    background-color: white;       
  }

  .main-content.show-nav {
    margin-left: 80%;    
    right: -80%;
    transition: .4s ease-in-out;
  }  

  .main-content.show-links {
    margin-right: 80%;    
    left: -80%;
    transition: .4s ease-in-out;
  }

  .head-link-container {
    width: 80%;
  }
  
  .logo {    
    background-color: $logo-background-color-small;      
    border-bottom: 1px solid $logo-border-color-small;
    padding: 10px;    
    margin: 0px;
    font-size: 20px;      
    color: $logo-color-small;   
    z-index: -5;
  }
  .logo {
    .container {
      text-align: center;      
    }
    .subtitle {
      display: none;
    }    
    .menu {
      position: absolute;            
      left: 5px;
      white-space: nowrap;
      font-size: 14px;
      padding-top: 4px;
      font-weight: normal;      
    }
    .right-menu {
      position: absolute; 
      right: 5px;
      white-space: nowrap;
      font-size: 14px;
      padding-top: 4px;
      font-weight: normal;      
    }
  }

  .app-container {
    background-color: white;
    left: 0px;
    z-index: -10;
    max-height: 100%;    
    //min-height: 100%;
    // bottom: 0px;
    //top: 0px;
    //right: 0px;
    position: relative;    
    overflow-y: scroll;    
    overflow-x: hidden;
    padding: 0px 10px 50px 10px;
    //border-bottom: 1px solid $logo-border-color-small;
    //box-shadow: 0px 0px 5px 1px rgb(200,200,200);
  }

  .app-content {    
   // overflow-x: hidden;
  }

  .app-content {
    img {
      display: table;
      margin: auto;
      padding: 5px 0px 5px 0px;      
      max-height: 400px;           
    }
  }
  
  /*
  .footer {    
    background-color: $logo-background-color-small;  
    color: $logo-color-small;
    border-top: 1px solid $logo-border-color-small;
    position: absolute;
    bottom: 0px;
    width: 100%;
    .container {
      padding: 20px;
    }
  }
  */
  
  ul {
    padding-left: 25px;    
  }
  
  h1 {
    text-align: center;
  }

}