@media screen and (min-width: 961px) and (max-width: 1024px) {

  nav {    
    z-index: 50;
    position: fixed;
    font-size: 15px;
    width: 300px;
    padding-left: 0px;        
    top: 0px;      
    bottom: 0px;    
    left: 0px; 
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
  }

  nav {
    .login-layer.active {
      width: 300px;
    }
  }

  // route links
  .deco-sub-routes {    
    margin: 10px 0px 10px 0px;   
  }

  .deco-sub-routes-container {
    padding: 3px;
  }
  
  .deco-sub-routes-container {
    display: inline-block;    
    // white-space: nowrap;
    .deco-sub-routes {      
    }
    .deco-separator {  
      display: none;
    }    
    .routes-sublink {
      @include color-and-border;      
      @include color-and-border-ws-large;            
    }
    .routes-sublink:first-child {
      margin-left: 0px;
    }
    .routes-sublink:hover {
      @include color-and-border-hover;
    }
    .routes-sublink-last {
      font-size: 200%;
      @include color-and-border-active;
      @include color-and-border-ws-large;
    }    
    .decor {
      @include decor-left;
    }
    .routes-sublink-last .decor {
      width: 50px;
    }
  }  

}