@media screen and (max-width: 1024px) {
  nav {
    .nav-brand {
      background-color: $navigation-sub-background-color;
      color: white;
      text-align: center;
      font-size: 200%;
      font-weight: bold;   
      margin: 0px;
      letter-spacing: 2px;
    }
    .nav-logo {      
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .nav-logo {
      img {
        padding: 10px;
        display: table;
        margin: auto;
      }
    }    
    .mainlinks {                  
      white-space: nowrap;
      overflow: hidden;
      padding: 0px;
    }
    .mainlink-container, .login-container {              
      @include handheld-nav-container;
    }             
    .showmore-container {
      display: none;
    }
    .mainlink-container, .login {
      padding: 0px;
      border-bottom: $navigation-border;        
    }
    .mainlinks-container .mainlink-container:first-child {      
      border-top:  $navigation-border;        
    }    
    .mainlink, .login {       
      @include handheld-nav-container;
    }
    .action {
      @include handheld-nav-action;
    }    
    .sublinks {
      position: block;
      display: none;
      margin: 0px;
    }
    .sublinks.show {
      display: block;
    }
    .sublinks.selected {
      display: block;
    }
    .sublinks {        
      .sublink-container {                   
        border-bottom: 1px solid $navigation-active-sub-background-color;
        position: relative;
      }                
      .sublink-container:last-of-type {
        border-bottom: none;
      }      
      .sublink-container {          
        .sublink {                    
          padding-left: 30px;        
          padding-right: 30px;  
          padding-top: 10px;
          padding-bottom: 10px;                              
        }
      }
    }
    
    .login-layer {
      display: none;
    }
    .login-layer.active {
      padding-top: 40px;
      position: fixed;
      display: block;
      height: 100%;      
      left: 0px;      
      top: 0px;
      bottom: 0px;
      display: table;
      text-align: center;
      vertical-align: middle;
      background-color: white;
      z-index: 100000;
    }
  }

}